body {
	background-color:white;
	}

h1 {
	font-family: 
	Marker Felt;
	text-align: center;
	} 
	
p {
	text-align: center;
	}
	
	h2 {
	font-family:
	American Typewriter;
	}
	
	h3 {
	font-family:
	Century Gothic;
	}
	



